<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Kirito Nguyen">

    <title>Product Manager</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/admin/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script>
        $(document).ready(() => {
            const avatarFile = $("#avatarFile");
            avatarFile.change(function (e) {
                const imgURL = URL.createObjectURL(e.target.files[0]);
                $("#avatarPreview").attr("src", imgURL);
                $("#avatarPreview").css({ "display": "block" });
            });
        });
    </script>
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <%- include('../layout/sidenav'); -%>

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <%- include('../layout/header'); -%>

                        <div class="container-fluid">
                            <div class="container-fluid px-4">
                                <h2 class="mt-4">Product Manager</h2>
                                <ol class="breadcrumb mb-4">
                                    <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                                    <li class="breadcrumb-item active"><a href="/admin/product">Product</a></li>
                                    <li class="breadcrumb-item active">Create Product</li>
                                </ol>
                                <div class="card mb-4">
                                    <div class="card-header">
                                        <i class="fas fa-user-plus me-1"></i>
                                        Create New Product
                                    </div>
                                    <% errors.forEach( function (error) { %>
                                        <div class="alert alert-danger mb-3">
                                            <%=error%>
                                        </div>

                                        <% }) %>
                                            <div class="card-body">
                                                <form action="/admin/create-product" method="post"
                                                    enctype="multipart/form-data">
                                                    <div class="form-row">
                                                        <div class="form-group col-sm-3 mb-3">
                                                            <label for="name">Name</label>
                                                            <input value="<%=dataProduct.name%>" type="text"
                                                                class="form-control" name="name">
                                                        </div>
                                                        <div class="form-group col-sm-3 mb-3">
                                                            <label for="price">Price</label>
                                                            <input value="<%=dataProduct.price%>" type="number" min="0"
                                                                class="form-control" name="price" id="inputPrice">
                                                        </div>

                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-6 mb-3">
                                                            <label for="description">Description</label>
                                                            <textarea class="form-control"
                                                                name="description"><%=dataProduct.description%></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-sm-3 mb-3">
                                                            <label for="quantity">Quantity</label>
                                                            <input value="<%=dataProduct.quantity%>" type="number"
                                                                min="0" class="form-control" name="quantity"
                                                                id="inputQuantity">
                                                        </div>
                                                        <div class="form-group col-sm-3 mb-3">
                                                            <label for="target">Target</label>
                                                            <input value="<%=dataProduct.target%>" type="text"
                                                                class="form-control" name="target">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-sm-3 mb-3">
                                                            <label for="factory">Factory</label>
                                                            <select class="form-control" name="factory">
                                                                <% factories.forEach((factory,index)=> { %>
                                                                    <option value="<%-factory.id %>">
                                                                        <%- factory.name %>
                                                                    </option>
                                                                    <%})%>
                                                            </select>
                                                        </div>
                                                        <div class="form-group col-sm-3 mb-3">
                                                            <label for="category">Category</label>
                                                            <select class="form-control" name="category">
                                                                <% categories.forEach((category,index)=> { %>
                                                                    <option value="<%-category.id %>">
                                                                        <%- category.name %>
                                                                    </option>
                                                                    <%})%>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-6 mb-3">
                                                            <label for="avatar">Avatar</label>
                                                            <input type="file" class="form-control-file" id="avatarFile"
                                                                name="avatar" accept=".png, .jpg, .jpeg">
                                                            <img style="max-height: 250px; display: none; margin: 20px 0 10px;"
                                                                alt="avatar preview" id="avatarPreview" />
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-6 mb-3">
                                                            <button type="submit" class="btn btn-success btn-sm">
                                                                <i class="fas fa-save"></i> Save Product
                                                            </button>
                                                            <a href="/admin/product"
                                                                class="btn btn-secondary btn-sm">Cancel</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                </div>

                            </div>


                        </div>

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <%- include('../layout/footer'); -%>

            </div>
            <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->

    <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/admin/js/sb-admin-2.min.js"></script>

    <script>
        const inputPrice = document.getElementById('inputPrice');
        inputPrice.addEventListener('keydown', function (e) {
            if (e.key === '-' || e.key === 'Minus') {
                e.preventDefault(); // chặn không cho nhập dấu -
            }
        });
        const inputQuantity = document.getElementById('inputQuantity');
        inputQuantity.addEventListener('keydown', function (e) {
            if (e.key === '-' || e.key === 'Minus') {
                e.preventDefault(); // chặn không cho nhập dấu -
            }
        });
    </script>

</body>

</html>