<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>L&P</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <!-- Cập nhật lên Font Awesome 6.5.0 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/client/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/client/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/client/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/client/css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Spinner Start -->
    <div id="spinner"
        class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <%- include('../layout/header'); -%>

        <%- include('../layout/banner'); -%>

            <!-- Fruits Shop Start-->
            <div class="container-fluid fruite py-5 divider">
                <div class="container py-5">
                    <div class="tab-class text-center">
                        <div style="margin-bottom: 25px;" class="row g-4">
                            <div class="col-lg-4 text-center">
                                <h1>Product</h1>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane fade show p-0 active">
                                <div class="row g-4">
                                    <div class="col-lg-12">
                                        <div class="row g-4">
                                            <% products.forEach( function (product) { %>
                                                <div class="col-md-6 col-lg-4 col-xl-3 mb-4">
                                                    <div
                                                        class="product-card shadow-sm rounded overflow-hidden position-relative">
                                                        <div
                                                            class="product-img-wrapper position-relative overflow-hidden">
                                                            <img src="/client/img/product/<%=product.image%>"
                                                                alt="Grapes" class="img-fluid w-100 product-img" />
                                                            <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                                                style="top: 10px; left: 10px;">
                                                                <%=product.category.name%>
                                                            </div>
                                                        </div>
                                                        <div class="p-3 bg-white">
                                                            <h5 class="fw-bold mb-2 single-line-ellipsis">
                                                                <a href="/product/<%=product.id%>">
                                                                    <%=product.name%>
                                                                </a>
                                                            </h5>
                                                            <p class="text-muted small mb-3 truncate-lines">
                                                                <%=product.description%>
                                                            </p>
                                                            <p style="padding-bottom: 20px;"
                                                                class="mb-0 fw-bold text-primary fs-5">
                                                                <%=new Intl.NumberFormat("de-DE", { style: "currency" ,
                                                                    currency: "VND" }).format( product.price ),%>
                                                            </p>
                                                            <div
                                                                class="d-flex justify-content-between align-items-center">
                                                                <a href="/product/<%=product.id%>"
                                                                    class="btn btn-outline-primary btn-sm rounded-pill fw-semibold">
                                                                    <i class="far fa-eye"></i>
                                                                    View detail
                                                                </a>
                                                                <a href="#"
                                                                    class="btn btn-outline-primary btn-sm rounded-pill fw-semibold">
                                                                    <i class="fas fa-shopping-bag me-2"></i>
                                                                    Add to cart
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }) %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fruits Shop End-->

            <%- include('../layout/feature'); -%>
                <%- include('../layout/footer'); -%>

                    <!-- Back to Top -->
                    <a href="#" class="btn btn-success border-3 border-success rounded-circle back-to-top"><i
                            class="fa fa-arrow-up"></i></a>


                    <!-- JavaScript Libraries -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
                    <script src="/client/lib/easing/easing.min.js"></script>
                    <script src="/client/lib/waypoints/waypoints.min.js"></script>
                    <script src="/client/lib/lightbox/js/lightbox.min.js"></script>
                    <script src="/client/lib/owlcarousel/owl.carousel.min.js"></script>

                    <!-- Template Javascript -->
                    <script src="/client/js/main.js"></script>
</body>

</html>